@{
    ViewBag.Title = "Game";
}

﻿@model Bingo.Web.Models.GameViewModel

@{
    ViewBag.Title = "Game";
}

@section AdditionalScripts{
    <script src='@Url.Content("~/scripts/protoclass.js")'></script>
    <script src='@Url.Content("~/scripts/box2d.js")'></script>
    
    <script src='@Url.Content("~/scripts/bingo.js")'></script>
    <script src='@Url.Content("~/scripts/bingo_balls.js")'></script>
    <script src='@Url.Content("~/scripts/bingo_message.js")'></script>
    <script src='@Url.Content("~/scripts/bingo_debug.js")'></script>
    <script src='@Url.Content("~/scripts/egg.js")'></script>


    <script type="text/javascript">
        //=====================================
        // Urls
        //=====================================
        // url for get next ball
        var getNextBallUrl = '@Url.Action("GetNextBall", "Bingo")';
        // url for reporting bingo
        var reportBingoUrl = '@Url.Action("ReportBingo", "Bingo")';
        // url for initialize
        var initializeUrl = '@Url.Action("Initialize", "Bingo")';
        // url for messages
        var messageUrl = '@Url.Action("GetMessage", "Bingo")';

        var egg1 = '@Url.Content("~/scripts/jsnes.src.js")';
        var egg2 = '@Url.Content("~/scripts/dynamicaudio.js")';
        var egg3 = '@Url.Content("~/roms/contra.nes")';
        //=====================================
        // Timer Variables
        //=====================================
        // server time to sync with
        var serverTime = new Date('@Model.ServerTime');
        // the timer id for polling for new ball
        var ballIntervalId;
        // interval for polling balls
        var pollingInterval = 10000;

        // user id
        var userId = '@Model.UserId';

        $(function () {

            // set the call bingo button style
            $("#btn_CallBingo").button().click(reportBingo);

            $("a.button").button();

            // selecting a number
            $(".bingo_cell").click(function () {

                $(this).toggleClass("selected");

            });

            $("#gameover_container").dialog({
                modal: true,
                closeOnEscape: false,
                autoOpen: false,
                height: 200, width: 400,
                buttons: {
                    "Back to Waiting Room": function () {
                        window.location = '@Url.Action("Index")';
                    }
                },
                open: function (event, ui) { jQuery('.ui-dialog-titlebar-close').hide(); }
            });

            initialize();

            initializeMessagePolling();

            // display debug information
            initializeDebug();
        });
    </script>


    <link href='@Url.Content("~/css/Game.css")' rel="stylesheet" type="text/css" />
}

    <div id="debug" style="display:none;" class="ui-corner-all game_box">

        <ul>
            <li>
            <strong>(Estimated)Reported Server Time:</strong>
            <span id="serverTime"></span>
            </li>
            <li>
            <strong>Client Time:</strong>
            <span id="clientTime"></span>
            </li>
            <li>
            <strong>Difference:</strong>
            <span id="timeDiff"></span>
            </li>
            <li>
            <strong>Calculated Poll Time:</strong>
            <span id="calculatedPollTime"></span>
            </li>
            <li>
            <strong>Last Poll Time:</strong>
            <span id="pollTime"></span>
            </li>

        </ul>

    </div>

    <div id="new_ball_container" class="ui-corner-all game_box">
        <div id="new_ball"><span id="number"></span></div>
    </div>


	<div id="card_container" class="ui-corner-all game_box">

        <table class="noicon">
            <thead>
                <tr>
                <th class="bingo_header">B</th>
                <th class="bingo_header">I</th>
                <th class="bingo_header">N</th>
                <th class="bingo_header">G</th>
                <th class="bingo_header">O</th>
                </tr>
            </thead>
            <tbody>
		        @for (var i = 0; i < Model.GameBoard.BCol.Length; i++)
                { 
                <tr>
                <td class="b bingo_cell">@Model.GameBoard.BCol[i]</td>
                <td class="i bingo_cell">@Model.GameBoard.ICol[i]</td>
                @if (Model.GameBoard.NCol[i] == 0)
                {
                    <td class="n bingo_cell">Free</td>
                }
                else
                { 
                    <td class="n bingo_cell">@Model.GameBoard.NCol[i]</td>
                }
                
                <td class="g bingo_cell">@Model.GameBoard.GCol[i]</td>
                <td class="o bingo_cell">@Model.GameBoard.OCol[i]</td>
                </tr>
                }            
            </tbody>
        </table>



	</div>
 
	<div id="ball_container" class="ui-corner-all game_box">
	    <canvas id="canvas" width="540" height="325" />
	</div>
  
	<div id="bingo_call_container" class="ui-corner-all game_box">
		<input type="button" value="I Got BINGO!" class="button" id="btn_CallBingo"/>
	</div>
  
	<div id="scoreboard_container" class="ui-corner-all game_box">
		<ul id="messages"></ul>
	</div>
  

    <div id="gameover_container" title="Game Over">
    
        <p>
        Someone has gotten BINGO, this game is now over.  Please use the link below to head to the waiting room to find out who won.
        </p>
        
    </div>