@{
    ViewBag.Title = "Game";
}

﻿@model Bingo.Web.Models.GameViewModel

@{
    ViewBag.Title = "Game";
}

@section AdditionalScripts{
    <script src='@Url.Script("protoclass.js")'></script>
    <script src='@Url.Script("box2d.js")'></script>
    <script src='@Url.Script("bingo_balls.js")'></script>

    <script type="text/javascript">

        // server time to sync with
        var serverTime = new Date('@Model.ServerTime');
        // indicator if game is over
        var gameOver = false;
        // url for get next ball
        var getNextBallUrl = '@Url.Action("GetNextBall", "Bingo")';
        // url for reporting bingo
        var reportBingoUrl = '@Url.Action("ReportBingo", "Bingo")';

        // user id
        var userId = '@Model.UserId';
        // game id
        var gameId;

        $(function () {

            // set the call bingo button style
            $("#btn_CallBingo").button().click(reportBingo);

            // selecting a number
            $(".bingo_cell").click(function () {

                $(this).toggleClass("selected");

            });

            initialize();
        });

        // reports bingo to the server and reports back
        function reportBingo() {
            var selectedNumbers = [];
            $.each($(".selected"), function (index, item) { selectedNumbers.push(parseInt($(item).html())); });
            $.post(reportBingoUrl, {id: gameId, userId: userId, numbers: selectedNumbers}, function(result){alert(result);});
        }

        // load all balls for an inprogress game
        function initialize() {

            gameId = 1;

        }
        
    </script>

    <link href='@Url.Css("Game.css")' rel="stylesheet" type="text/css" />
}

    <div id="new_ball_container" class="ui-corner-all game_box">
        <div id="new_ball"><span id="number">I20</span></div>
    </div>


	<div id="card_container" class="ui-corner-all game_box">

        <table class="noicon">
            <thead>
                <tr>
                <th class="bingo_header">B</th>
                <th class="bingo_header">I</th>
                <th class="bingo_header">N</th>
                <th class="bingo_header">G</th>
                <th class="bingo_header">O</th>
                </tr>
            </thead>
            <tbody>
		        @for (var i = 0; i < Model.GameBoard.BCol.Length; i++)
                { 
                <tr>
                <td class="b bingo_cell">@Model.GameBoard.BCol[i]</td>
                <td class="i bingo_cell">@Model.GameBoard.ICol[i]</td>
                @if (Model.GameBoard.NCol[i] == 0)
                {
                    <td class="n bingo_cell">Free</td>
                }
                else
                { 
                    <td class="n bingo_cell">@Model.GameBoard.NCol[i]</td>
                }
                
                <td class="g bingo_cell">@Model.GameBoard.GCol[i]</td>
                <td class="o bingo_cell">@Model.GameBoard.OCol[i]</td>
                </tr>
                }            
            </tbody>
        </table>



	</div>
 
	<div id="ball_container" class="ui-corner-all game_box">
	    <canvas id="canvas" width="540" height="325" />
	</div>
  
	<div id="bingo_call_container" class="ui-corner-all game_box">
		<input type="button" value="I Got BINGO!" id="btn_CallBingo"/>
	</div>
  
	<div id="scoreboard_container" class="ui-corner-all game_box">
		&nbsp;
	</div>
  

