@{
    Layout = null;
}

@model Bingo.Web.Models.GameBoard

<!DOCTYPE html>

<html>
<head>
    <title>CA&ES CRU Halloween Bingo</title>
    
    <style type="text/css">
        table {}
        table td, table th {
             padding: 1em;
             border: 1px solid black;
        }
        
    </style>

</head>
<body>
    <div>
        <div id="card_container" class="ui-corner-all game_box">

            <table class="noicon" cellspacing="0">
                <thead>
                    <tr>
                        <th class="bingo_header"><img src="@Url.Content("~/Images/Icons/ghost.png")"></th>
                        <th class="bingo_header"><img src="@Url.Content("~/Images/Icons/mummy.png")"></th>
                        <th class="bingo_header"><img src="@Url.Content("~/Images/Icons/skull.png")"></th>
                        <th class="bingo_header"><img src="@Url.Content("~/Images/Icons/vampire.png")"></th>
                        <th class="bingo_header"><img src="@Url.Content("~/Images/Icons/zombie.png")"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.BCol.Length; i++)
                    { 
                        <tr>
                            <td class="b bingo_cell">@Model.BCol[i]</td>
                            <td class="i bingo_cell">@Model.ICol[i]</td>
                            @if (Model.NCol[i] == 0)
                            {
                                <td class="n bingo_cell">Free</td>
                            }
                            else
                            { 
                                <td class="n bingo_cell">@Model.NCol[i]</td>
                            }
                
                            <td class="g bingo_cell">@Model.GCol[i]</td>
                            <td class="o bingo_cell">@Model.OCol[i]</td>
                        </tr>
                    }            
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
