@model IEnumerable<Bingo.Web.Models.User>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<thead>
		<tr>
			<th></th>
			<th>
				Kerb
			</th>
			<th>
				Name
			</th>
			<th>
				BingoBoard
			</th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
				@Html.ActionLink("Details", "Details", new { id=item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.Id })
			</td>
			<td>
				@item.Kerb
			</td>
			<td>
				@item.Name
			</td>
			<td>
				@item.BingoBoard
			</td>
		</tr>
		odd = !odd;
}
	</tbody>
</table>

